.body-registro {
    background: linear-gradient(#3a5ba0, #FFE5B4);
}

.cajita {
    width: 80%;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cajita .inicioSesion {
    text-decoration: none;
    font-size: 1.15em;
    font-weight: 700;
    color: black;
    background-color: #ffc700;
    padding: 10px 12px;
    border: none;
    border-radius: 5px;
    transition: 0.2s;
}

.cajita .inicioSesion:hover {
    background-color: #d19100;
}

form#altaUsuario {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #1f4690;
}

.registro {
    margin-top: 50px;
}

form#altaUsuario>h1 {
    text-align: justify;
    margin-top: 5px;
    margin-bottom: 35px;
    margin-left: 0;
    font-weight: bold;
    font-size: 25px;
    color: #ffc700;
}

.labelPregunta {
    display: block;
    font-size: 0.9em;
    color: white;
    margin-bottom: 5px;
}

form#altaUsuario>div>input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
}

.errores {
    background-color: orangered;
    color: white;
    margin-bottom: 10px;
    width: auto;
    padding: 5px;
    border-radius: 5px;
    font-size: 0.8em;
}

.submit1 {
    font-family: inherit;
    font-weight: 700;
    font-size: 1.15em;
    display: block;
    margin: 10px auto 0 auto;
    color: black;
    background-color: #ffc700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 25%;
    height: 50px;
    transition: 0.2s;
}

.submit1:hover {
    background: radial-gradient(#ffe5b4, #d19100)
}