.contenido-busqueda-interes {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.busqueda-interes-seccion {
    width: 80%;
    margin: 50px auto;
}

.titulo-seccion {
    font-size: 3em;
}

.busqueda-seccion {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
}

.no-interes {
    text-align: center;
}

.footer-busqueda {
    position: absolute;
    bottom: 0;
}