.contenido {
    width: 85%;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
}

.contenido a {
    text-decoration: none;
}

.secciones {
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(207, 210, 213);
    height: 35vh;
}

.proximos-eventos {
    width: 65%;
    background-image: url("https://img.freepik.com/foto-gratis/grupo-diverso-amigos-disparar-verano_53876-47015.jpg?w=1380&t=st=1701516264~exp=1701516864~hmac=0d3acfe6acbb5d0bffea85f2894eaeea4ecf3f695238290dd3d8c931395cae14");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 1%;
    position: relative;
}

.proximos-eventos::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1);
}

.contenido a:hover .proximos-eventos::after{
    background-color: rgba(0, 0, 0, 0.5);
}

.secciones h2 {
    margin-left: 30px;
    color: rgb(255, 255, 255);
    z-index: 1;
}
.proximos-eventos:hover {
    background-color: #606060;
}

.tusEventos {
    width: 25%;
}

.eventosFamilias {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
}

.eventos-ciudad {
    width: 48%;
}

.tusFamilias {
    width: 48%;
}

.tradiciones {
    width: 25%;
}



.box-container {
    text-decoration: none;
  }
  
  .box {
    position: relative;
    width: 300px;
    height: 200px;
    overflow: hidden;
  }
  
  .background-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: filter 0.3s;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.3);
  }
  
  .text {
    color: white;
    font-size: 1.2rem; /* Tamaño inicial del texto */
    font-weight: 1000;
    text-align: center;
    transition: font-size 0.3s; /* Animación del cambio de tamaño */
  }
  
  .box:hover .background-image {
    filter: brightness(0.7); /* Oscurecer la imagen al hacer hover */
  }
  
  .box .overlay:hover .text {
    font-size: 1.5rem; /* Tamaño del texto al hacer hover */
  }