.navegador {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3a5ba0;
}
/*background-color: #1f4690;*/

.logo-navegador {
    width: 75px;
}

.barra-busqueda {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    color: #1f4690;
    font-weight: 500;
}

.lista {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.texto-lista {
    font-size: 1.15em;
}

.buscar {
    height: 100%;
    border-left: 2px solid #1f4690;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
}

.input-barra {
    height: 35px;
    border: none;
    font-size: 1.15em;
    padding-left: 15px;
    color: #3a5ba0;
}

.input-barra::placeholder {
    color: #3a5ba0;
    position: absolute;
    margin-top: 1px;
    font-weight: 500;
}

.input-barra:focus {
    outline: none;
    border: none;
}

.label-barra {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em
}

.perfil {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}

.foto-perfil {
    font-size: 2em;
    background-color: #ffc700;
    width: 40px;
    height: 40px;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.añadir-ruta {
    font-size: 1.75em;
    font-weight: 700;
    background-color: #ffc700;
    width: 150px;
    height: 40px;
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.añadir-ruta-text {
    font-size: initial;
}