.contenido-perfil {
  display: flex;
  min-height: 100vh;
  height: 100%;
}

.barraPerfil {
  background: linear-gradient(to top, #172a54, #3a5ba0);
  width: 28%;
}

.barraPerfil h1 {
  color: #fff;
  text-align: center;
  font-size: 2em;
}

.contenido-principal {
  flex: 1;
  margin-top: 1em;
  padding: 20px;
}

.imagen-perfil {
  width: 10em;
  height: 10em;
  overflow: hidden;
  border-radius: 50%;
  margin: auto;
  background-color: #ffc700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iniciales-perfil {
  color: black;
  font-size: 3.5em;
  font-weight: bold;
}

.datos-perfil {
  color: #ffe5b4;
  text-align: center;
  font-size: 1.25em;
}

.box-modal-perfil {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 50%;
  background-color: #3a5ba0;
  border-radius: 5px;
  padding: 10px;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.75em;
}

.contenido-principal {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1em;
  padding: 20px;
}

.añadir-intereses {
  padding: 10px;
  background-color: #ffc700;
  width: max-content;
  margin: auto;
  border-radius: 5px;
  color: black;
  cursor: pointer;
  text-align: center;
  font-size: 1.2em;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 1em;
  transition: 0.2s;
}

.añadir-intereses:hover {
  background-color: #d19100;
}

.intereses-perfil {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 1.2em;
}

.eventos-perfil {
  display: flex;
  margin: 0 auto;
  justify-content: start;
  align-items: center;
  width: 67%;
  gap: 5em;
}

.tus-eventos-perfil,
.tus-familias-perfil {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 50%;
  height: 100%;
}

.tus-eventos-perfil h1,
.tus-familias-perfil h1 {
  font-size: 2em;
}

.eventos,
.familias {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1em;
}
