.contenido-evento {
    border: 1px solid black;
    height: 150px;
    width: 75%;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-evento {
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 2em;
}

.contenido-evento > .flex-evento > img {
    margin-left: 1%;
    height: 95%;
    border-radius: 5px;
}

.contenido-evento > .info-inicial {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}

.contenido-evento > .info-adicional {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 0.75em;
    margin-right: 5%;
}

.contenido-evento  .info-inicial > h3, .contenido-evento > .info-adicional > p {
    margin: 0;
}

.contenido-evento > .info-inicial > p {
    margin-bottom: 0;
}

h3 > .nombre-familia{
    font-weight: 100;
}

.contenido-evento > .info-adicional > p {
    display: flex;
    align-items: center;
    justify-content: center;
}