.contenido-familia {
    height: 250px;
    width: 100%;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.2s;
    text-decoration: none;
    color: black
}

.contenido-familia:hover{
    background-color: #ffc700;
}

.flex-familia {
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 2em;
}

.contenido-familia > .flex-familia > img {
    height: 100%;
    border-radius: 5px 0 0 5px;
}

.contenido-familia > .flex-familia > .info-inicial-familia {
    height: 100%;
    width: 300px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}

.family {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.descripcion-familia {
    height: 100%;
    max-width: 400px;
}
