
h1#title{
  font-size: 2.5em;
  text-align: center;
  color: #ffc700;
  text-shadow: #d6a802f4;
  margin-bottom: 0px;
  
}

p#subtitle{
  margin-top: 0px;
 text-align: center;
 font-style: italic;
}

.barra {
  background-color: #3a5ba0;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  
  overflow: hidden;
}

nav#barrita a {
  color: white;
  text-decoration: none;
  padding: 90px;
 
}

nav#barrita a:hover {
  text-decoration:none;
  background-color: #1f4690;
  font-style: italic;
}

main#tradiciones {
  margin-top: 20px;
}

main#tradiciones h2 {
  color: #333;
  text-align: center;
  writing-mode:vertical-rl;
  letter-spacing: 10px;
  
  

}

main#tradiciones ul {
  list-style-type: none;
}

strong#titulos{
  font-size: large;
}

main#tradiciones li {
  margin-bottom: 10px;
  flex-direction: column;
  align-items: center;
  border: 4px solid #ffc700;
  padding: 30px;
  
}

div#contenedor{
  display: flex;
}
/* Estilos adicionales para imágenes (si decides agregarlas) */
main img {
 
}