.evento-box-flex {
    width: 80%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1em;
}

.titulo-evento {
    font-size: 3em;
    margin: 0;
}

.evento-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1em;
}

.botones-evento{
    display: flex;
    gap: 1em;
}

.enlace-familia-evento {
    text-decoration: none;
    color: black;
    font-weight: 700;
    width: max-content;
    background-color: #ffc700;
    border-radius: 5px;
    transition: 0.2s;
}

.enlace-familia-evento:hover {
    background-color: #d19100;
}

.enlace-familia-evento>p {
    padding: 10px;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 1em;
    font-size: 1.15em;
}

.join-evento{
    cursor: pointer;
}

.more-event-info {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.more-event-info>p {
    display: flex;
    align-items: center;
    gap: 1em;
    font-size: 1.15em;
}

.caja-evento {
    width: 70%;
    display: flex;
    justify-content: start;
    gap: 2em;
}

.imagen-evento {
    width: 55%;
    border-radius: 5px;
}

.caja-evento-info {}

.caja-evento-info>p {
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin: 0 0 15px 0;
    font-size: 1.15em;
}

.miembros-evento {
    width: 30%;
}

.miembros-evento h3 {
    font-size: 2em;
    margin: 0 auto;
    padding: 0;
    border: 1px solid black;
}

.miembros-inside {
    padding: 10px 0;
    max-width: 400px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    gap: 1em;
}

.miembros-iniciales {
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #ffc700;
}

.titulo-descripcion-evento {
    font-size: 2em
}

.descripcion-evento {
    width: 100%;
    line-height: 1.2em;
}