.familia-flex {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 50px auto;
    gap: 1.5em;
}

.familia .titulo-familia {
    font-size: 3em;
    margin: 0;
}

.info-familia {
    display: flex;
    justify-content: space-between;
}

.img-miembros {
    width: 70%;
    display: flex;
    align-items: start;
    gap: 2em;
}

.img-familia {
    width: 55%;
    border-radius: 5px;
}

.miembros-familia {
    height: 100%;
    width: 40%;
}

.miembros-familia>h3 {
    font-size: 1.5em;
    margin-top: 0;
}

.miembrosFlex{
    display: flex;
    justify-content: start;
    gap: 1em;
    flex-wrap: wrap;
}

.descripcion-Familia {
    width: 30%;
    height: 100%;
}

.descripcion-Familia > p {
    margin: 0;
    height: 100%;
    max-height: 328px;
    overflow-y: scroll;
}

.descripcion-Familia>h3 {
    font-size: 1.5em;
    margin-top: 0;
}

.eventos-familia {
    display: flex;
    flex-direction: column;
    gap: 1em;
}