.contenido-familia {
    height: 250px;
    width: 100%;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.2s;
    text-decoration: none;
    color: black
}

.contenido-familia:hover{
    background-color: #ffc700;
}

.flex-familia {
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 2em;
}

.contenido-familia > .flex-familia > img {
    height: 100%;
    border-radius: 5px 0 0 5px;
}

.contenido-familia > .flex-familia > .info-inicial-familia {
    height: 100%;
    width: 300px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}

.info-inicial-familia > p {
    margin: 0;
}

.miembros-visualizar-familia {
    width: 100%;
}

.miembros-visualizar-familia > h4 {
    margin-bottom: 0;
}

.miembros-visualizar-familia > .flex-miembros {
    padding-top: 10px;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 1em;
    max-width: 500px;
}

.caja-miembros {
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.1em;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #ffc700;
    transition: 0.2s ;
}

.contenido-familia:hover .caja-miembros{
    background-color: #a66702;
}


.descripcion-familia {
    height: 100%;
    overflow: hidden;
    max-width: 400px;
}
